/* donate css: */
:root {
    --primary-color: #5e4d9e;
    --dark-color: #2c1b2d;
    --light-color: #C69AA4;
    --notsolight-color: #B58A94;
    --white-color: #ffffff;
    --header-font: 'Montserrat', sans-serif;
    --body-font: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0 0px;
}

body {
    font-family: var(--body-font);
    background-color: var(--white-color);
    margin: 0;
    color: var(--dark-color);
    line-height: 1.6;
    overscroll-behavior: none;
}

.main-body {
    padding-top: 0;
}

.donate-hero {
    background-image: url('../images/donate.jpg'); /* insert a link of your chosen image! */
    background-size: cover; /* 确保左右不留白 */
    background-position: center top; /* 优化图片显示位置 */
    background-attachment: scroll; /* 让图片随页面滚动，有利于完整显示 */
    height: auto; /* 与team页面保持一致 */
    min-height: 75vh; /* 与team页面保持相同的高度 */
    margin: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black; /* this changes the color of the "donate" text */
    font-size: 4rem;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8), 0 0 10px rgba(255, 255, 255, 0.5);
}

h1 {
    font-family: var(--header-font);
}

p {
    margin: 20px 150px 20px 150px;
    text-align: center; 
}

#red-text {
    color: ''; /* changes the color of the "all donations are..." text */
    font-size: 1.2rem;
}

.large-text {
    font-size: 1.5rem;
}

.small-text {
    font-size: 1.2rem;
}